<div class="page-header">

    <h1>User Registeration</h1>

</div>


<form name="regForm" ng-submit="register.regUser(regData)" novalidate>
    <!--NAME-->
    <div ng-class="{'has-success':(regForm.name.$valid && !regForm.name.$pristine) ,'has-error':(!regForm.name.$valid && !regForm.name.$pristine) || (!regForm.name.$valid && regForm.name.$submitted)}">
        <label>Name:</label>
        <input class="form-control" type="text" name="name" placeholder="Please Enter Name" ng-model="register.regData.name" required>
        <p class="help-block" ng-show="(!regForm.name.$pristine && regForm.name.$error.required) || (regForm.$submitted&& regForm.name.$error.required)">This field is required.</p>

    </div>
    <!--EMAIL-->
    <label>Email:</label>
    <input class="form-control" type="text" name="email" placeholder="Please Enter Email" ng-model="register.regData.email">
    <!--USERNAME-->
    <label>Username:</label>
    <input class="form-control" type="text" name="username" placeholder="Please Enter Username" ng-model="register.regData.username">
    <!--Password-->
    <label>Password:</label>
    <input class="form-control" type="password" name="password" placeholder="Please Enter Password" ng-model="register.regData.password">
    <br>
    <button class="btn btn-primary">Register</button>
</form>
<span> <strong>Is this for pristine(new)</strong>{{ regForm.$pristine}}     </span><br>
<span> <strong>Does this for has error</strong>{{ regForm.$error}}     </span><br>
<span> <strong>Was the form submitted:</strong>{{ regForm.$submitted}}     </span><br>
<span> <strong>Is this form valid:</strong>{{ regForm.$valid}}     </span><br>
<br>
<div class="jumbotron text-center" ng-show="register.loading">
    <span class="glyphicon glyphicon-repeat spinner">
        <p>Loading....</p>
    </span>
</div>
<br>
<div class="row show-hide-message" ng-show="register.successMsg">

    <div class="alert alert-success">
        {{register.successMsg}}
    </div>

</div>
<br>
<div class="row show-hide-message" ng-show="register.errorMsg">

    <div class="alert alert-danger">
        {{register.errorMsg}}
    </div>

</div>